
      .my-footer {
          padding: 1em;
          color: whitesmoke;
          background-color: #829326;
          margin-top: 1.5em;
          font-size: 80%;
      }
      .my-nav-bar {
        background-color: #829326;
      }
      .room-image {
          max-width: 50%;
      }
      /* override Notie styles here */
      .notie-container {
        box-shadow: none;
      }
      /* override so the calendar appears in front of modal */
      .datepicker {
        z-index: 10000;
      }
