
      .my-footer {
          height: 5em;
          padding: 1em;
          color: whitesmoke;
          background-color: #163b65;
          margin-top: 2em;
          font-size: 80%;
      }
      .room-image {
          max-width: 50%;
      }
      /* override Notie styles here */
      .notie-container {
        box-shadow: none;
      }
      /* override so the calendar appears in front of modal */
      .datepicker {
        z-index: 10000;
      }
